<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- execution modes - 0: SILENT - No output / 1: INTERACTIVE - basic output / 2: DEBUG - full output -->
    <execution_mode>0</execution_mode>
    <node_self>
        <id>1</id>
        <ip>127.0.0.1</ip>
        <port>25570</port>
        <pub>./RSA_keys/RSA_pub1.der</pub>
        <prv>./RSA_keys/RSA_prv1.der</prv>
    </node_self>
    <network>
        <adj_node_num>1</adj_node_num>
        <node>
            <id>2</id>
            <ip>127.0.0.1</ip>
            <port>25571</port>
            <pub>./RSA_keys/RSA_pub2.der</pub>
        </node>
        <node>
            <id>3</id>
            <ip>127.0.0.1</ip>
            <port>25572</port>
            <pub>./RSA_keys/RSA_pub3.der</pub>
        </node>
        <node>
            <id>4</id>
            <ip>127.0.0.1</ip>
            <port>25573</port>
            <pub>./RSA_keys/RSA_pub4.der</pub>
        </node>
        <node>
            <id>5</id>
            <ip>127.0.0.1</ip>
            <port>25574</port>
            <pub>./RSA_keys/RSA_pub5.der</pub>
        </node>
    </network>
</config>
