<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- execution modes - 0: DEFAULT - basic output / 1: DEBUG - full output -->
    <execution_mode>1</execution_mode>
    <passwd_sha256>64e8df328d36f9688a4ad76208ce3fc06ac582552531ff968742645c43df1930</passwd_sha256> <!--puntokoma-->
    <node_self>
        <id>1</id>
        <ip>127.0.0.1</ip>
        <port>25570</port>
        <pub>./RSA_keys/RSA_pub1.der</pub>
        <prv>./RSA_keys/RSA_prv1.der</prv>
    </node_self>
    <network>
        <node>
            <id>2</id>
            <ip>127.0.0.1</ip>
            <port>25571</port>
            <pub>./RSA_keys/RSA_pub2.der</pub>
        </node>
        <node>
            <id>3</id>
            <ip>127.0.0.1</ip>
            <port>25572</port>
            <pub>./RSA_keys/RSA_pub3.der</pub>
        </node>
        <node>
            <id>4</id>
            <ip>127.0.0.1</ip>
            <port>25573</port>
            <pub>./RSA_keys/RSA_pub4.der</pub>
        </node>
        <node>
            <id>5</id>
            <ip>127.0.0.1</ip>
            <port>25574</port>
            <pub>./RSA_keys/RSA_pub5.der</pub>
        </node>
    </network>
</config>
