<config>
	<execution_mode>1</execution_mode>
	<passwd_sha256>64E8DF328D36F9688A4AD76208CE3FC06AC582552531FF968742645C43DF1930</passwd_sha256>
	<node_self>
		<id>1</id>
		<ip>127.0.0.1</ip>
		<port>25570</port>
		<pub>../RSA_keys/RSA_pub1.der</pub>
		<prv>../RSA_keys/RSA_prv1.der</prv>
	</node_self>
	<network>
		<node>
			<id>2</id>
			<ip>127.0.0.1</ip>
			<port>25571</port>
			<pub>../RSA_keys/RSA_pub2.der</pub>
		</node>
		<node>
			<id>3</id>
			<ip>127.0.0.1</ip>
			<port>25572</port>
			<pub>../RSA_keys/RSA_pub3.der</pub>
		</node>
		<node>
			<id>4</id>
			<ip>127.0.0.1</ip>
			<port>25573</port>
			<pub>../RSA_keys/RSA_pub4.der</pub>
		</node>
		<node>
			<id>5</id>
			<ip>127.0.0.1</ip>
			<port>25574</port>
			<pub>../RSA_keys/RSA_pub5.der</pub>
		</node>
		<node>
			<id>6</id>
			<ip>127.0.0.1</ip>
			<port>25575</port>
			<pub>../RSA_keys/RSA_pub6.der</pub>
		</node>
		<node>
			<id>7</id>
			<ip>127.0.0.1</ip>
			<port>25576</port>
			<pub>../RSA_keys/RSA_pub7.der</pub>
		</node>
		<node>
			<id>8</id>
			<ip>127.0.0.1</ip>
			<port>25577</port>
			<pub>../RSA_keys/RSA_pub8.der</pub>
		</node>
		<node>
			<id>9</id>
			<ip>127.0.0.1</ip>
			<port>25578</port>
			<pub>../RSA_keys/RSA_pub9.der</pub>
		</node>
		<node>
			<id>10</id>
			<ip>127.0.0.1</ip>
			<port>25579</port>
			<pub>../RSA_keys/RSA_pub10.der</pub>
		</node>
	</network>
</config>
